# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
node_modules
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
libs/redcross-swap-contract/artifacts/build-info/f1892bb53b5d63816ccd0417084bdc74.json
libs/redcross-swap-contract/artifacts/contracts/Box.sol/Box.dbg.json
libs/redcross-swap-contract/artifacts/contracts/Box.sol/Box.json
libs/redcross-swap-contract/cache/solidity-files-cache.json
libs/redcross-swap-contract/typechain/Box.d.ts
libs/redcross-swap-contract/typechain/ERC165.d.ts
libs/redcross-swap-contract/typechain/ERC1155.d.ts
libs/redcross-swap-contract/typechain/IERC165.d.ts
libs/redcross-swap-contract/typechain/IERC1155.d.ts
libs/redcross-swap-contract/typechain/IERC1155MetadataURI.d.ts
libs/redcross-swap-contract/typechain/IERC1155Receiver.d.ts
libs/redcross-swap-contract/typechain/index.ts
libs/redcross-swap-contract/typechain/SolidatiryItems.d.ts
libs/redcross-swap-contract/typechain/factories/Box__factory.ts
libs/redcross-swap-contract/typechain/factories/ERC165__factory.ts
libs/redcross-swap-contract/typechain/factories/ERC1155__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC165__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC1155__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC1155MetadataURI__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC1155Receiver__factory.ts
libs/redcross-swap-contract/typechain/factories/SolidatiryItems__factory.ts
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/cryptography/ECDSA.sol/ECDSA.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/cryptography/ECDSA.sol/ECDSA.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/drafts/EIP712.sol/EIP712.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/drafts/EIP712.sol/EIP712.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/drafts/ERC20Permit.sol/ERC20Permit.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/drafts/ERC20Permit.sol/ERC20Permit.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/drafts/IERC20Permit.sol/IERC20Permit.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/drafts/IERC20Permit.sol/IERC20Permit.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/introspection/ERC165.sol/ERC165.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/introspection/ERC165.sol/ERC165.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/introspection/IERC165.sol/IERC165.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/introspection/IERC165.sol/IERC165.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/math/SafeMath.sol/SafeMath.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/math/SafeMath.sol/SafeMath.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC1155/ERC1155.sol/ERC1155.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC1155/ERC1155.sol/ERC1155.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC1155/IERC1155.sol/IERC1155.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC1155/IERC1155MetadataURI.sol/IERC1155MetadataURI.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC1155/IERC1155MetadataURI.sol/IERC1155MetadataURI.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC1155/IERC1155Receiver.sol/IERC1155Receiver.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC1155/extensions/IERC1155MetadataURI.sol/IERC1155MetadataURI.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC1155/extensions/IERC1155MetadataURI.sol/IERC1155MetadataURI.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC20/ERC20.sol/ERC20.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC20/ERC20.sol/ERC20.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC20/IERC20.sol/IERC20.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC20/IERC20.sol/IERC20.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC721/IERC721.sol/IERC721.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC721/IERC721.sol/IERC721.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC721/IERC721Enumerable.sol/IERC721Enumerable.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC721/IERC721Enumerable.sol/IERC721Enumerable.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC721/IERC721Metadata.sol/IERC721Metadata.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/token/ERC721/IERC721Metadata.sol/IERC721Metadata.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/utils/Address.sol/Address.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/utils/Address.sol/Address.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/utils/Context.sol/Context.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/utils/Counters.sol/Counters.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/utils/Counters.sol/Counters.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/utils/introspection/ERC165.sol/ERC165.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/utils/introspection/ERC165.sol/ERC165.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/utils/introspection/IERC165.sol/IERC165.dbg.json
libs/redcross-swap-contract/artifacts/@openzeppelin/contracts/utils/introspection/IERC165.sol/IERC165.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-core/contracts/interfaces/IUniswapV3Factory.sol/IUniswapV3Factory.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-core/contracts/interfaces/IUniswapV3Factory.sol/IUniswapV3Factory.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-core/contracts/interfaces/callback/IUniswapV3SwapCallback.sol/IUniswapV3SwapCallback.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-core/contracts/interfaces/callback/IUniswapV3SwapCallback.sol/IUniswapV3SwapCallback.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/IERC721Permit.sol/IERC721Permit.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/IERC721Permit.sol/IERC721Permit.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/INonfungiblePositionManager.sol/INonfungiblePositionManager.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/INonfungiblePositionManager.sol/INonfungiblePositionManager.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/INonfungibleTokenPositionDescriptor.sol/INonfungibleTokenPositionDescriptor.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/INonfungibleTokenPositionDescriptor.sol/INonfungibleTokenPositionDescriptor.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/IPeripheryImmutableState.sol/IPeripheryImmutableState.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/IPeripheryImmutableState.sol/IPeripheryImmutableState.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/IPeripheryPayments.sol/IPeripheryPayments.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/IPeripheryPayments.sol/IPeripheryPayments.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/IPoolInitializer.sol/IPoolInitializer.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/IPoolInitializer.sol/IPoolInitializer.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/ISwapRouter.sol/ISwapRouter.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/ISwapRouter.sol/ISwapRouter.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/external/IWETH9.sol/IWETH9.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/interfaces/external/IWETH9.sol/IWETH9.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/libraries/PoolAddress.sol/PoolAddress.dbg.json
libs/redcross-swap-contract/artifacts/@uniswap/v3-periphery/contracts/libraries/PoolAddress.sol/PoolAddress.json
libs/redcross-swap-contract/artifacts/build-info/0bb13e162e288d8a96861ad691d23607.json
libs/redcross-swap-contract/artifacts/build-info/70b37fb54f872ff23b0dba70382176d5.json
libs/redcross-swap-contract/artifacts/build-info/af809aa81410433beca80eb7514091d8.json
libs/redcross-swap-contract/artifacts/build-info/f0b5b7877f966280a9b36da714fd7463.json
libs/redcross-swap-contract/artifacts/contracts/SolidatiryItem.sol/SolidatiryItems.dbg.json
libs/redcross-swap-contract/artifacts/contracts/SolidatiryItem.sol/SolidatiryItems.json
libs/redcross-swap-contract/artifacts/contracts/test/TESTERC20.sol/TestERC20.dbg.json
libs/redcross-swap-contract/artifacts/contracts/test/TESTERC20.sol/TestERC20.json
libs/redcross-swap-contract/typechain/commons.ts
libs/redcross-swap-contract/typechain/ERC20.d.ts
libs/redcross-swap-contract/typechain/ERC20Permit.d.ts
libs/redcross-swap-contract/typechain/IERC20.d.ts
libs/redcross-swap-contract/typechain/IERC20Permit.d.ts
libs/redcross-swap-contract/typechain/IERC721.d.ts
libs/redcross-swap-contract/typechain/IERC721Enumerable.d.ts
libs/redcross-swap-contract/typechain/IERC721Metadata.d.ts
libs/redcross-swap-contract/typechain/IERC721Permit.d.ts
libs/redcross-swap-contract/typechain/index.ts
libs/redcross-swap-contract/typechain/INonfungiblePositionManager.d.ts
libs/redcross-swap-contract/typechain/INonfungibleTokenPositionDescriptor.d.ts
libs/redcross-swap-contract/typechain/IPeripheryImmutableState.d.ts
libs/redcross-swap-contract/typechain/IPeripheryPayments.d.ts
libs/redcross-swap-contract/typechain/IPoolInitializer.d.ts
libs/redcross-swap-contract/typechain/ISwapRouter.d.ts
libs/redcross-swap-contract/typechain/IUniswapV3Factory.d.ts
libs/redcross-swap-contract/typechain/IUniswapV3SwapCallback.d.ts
libs/redcross-swap-contract/typechain/IWETH9.d.ts
libs/redcross-swap-contract/typechain/TestERC20.d.ts
libs/redcross-swap-contract/typechain/factories/Box__factory.ts
libs/redcross-swap-contract/typechain/factories/ERC20__factory.ts
libs/redcross-swap-contract/typechain/factories/ERC20Permit__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC20__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC20Permit__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC721__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC721Enumerable__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC721Metadata__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC721Permit__factory.ts
libs/redcross-swap-contract/typechain/factories/INonfungiblePositionManager__factory.ts
libs/redcross-swap-contract/typechain/factories/INonfungibleTokenPositionDescriptor__factory.ts
libs/redcross-swap-contract/typechain/factories/IPeripheryImmutableState__factory.ts
libs/redcross-swap-contract/typechain/factories/IPeripheryPayments__factory.ts
libs/redcross-swap-contract/typechain/factories/IPoolInitializer__factory.ts
libs/redcross-swap-contract/typechain/factories/ISwapRouter__factory.ts
libs/redcross-swap-contract/typechain/factories/IUniswapV3Factory__factory.ts
libs/redcross-swap-contract/typechain/factories/IUniswapV3SwapCallback__factory.ts
libs/redcross-swap-contract/typechain/factories/IWETH9__factory.ts
libs/redcross-swap-contract/typechain/factories/TestERC20__factory.ts
.env
