# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
node_modules
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
libs/redcross-swap-contract/artifacts/build-info/f1892bb53b5d63816ccd0417084bdc74.json
libs/redcross-swap-contract/artifacts/contracts/Box.sol/Box.dbg.json
libs/redcross-swap-contract/artifacts/contracts/Box.sol/Box.json
libs/redcross-swap-contract/cache/solidity-files-cache.json
libs/redcross-swap-contract/typechain/Box.d.ts
libs/redcross-swap-contract/typechain/ERC165.d.ts
libs/redcross-swap-contract/typechain/ERC1155.d.ts
libs/redcross-swap-contract/typechain/IERC165.d.ts
libs/redcross-swap-contract/typechain/IERC1155.d.ts
libs/redcross-swap-contract/typechain/IERC1155MetadataURI.d.ts
libs/redcross-swap-contract/typechain/IERC1155Receiver.d.ts
libs/redcross-swap-contract/typechain/index.ts
libs/redcross-swap-contract/typechain/SolidatiryItems.d.ts
libs/redcross-swap-contract/typechain/factories/Box__factory.ts
libs/redcross-swap-contract/typechain/factories/ERC165__factory.ts
libs/redcross-swap-contract/typechain/factories/ERC1155__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC165__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC1155__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC1155MetadataURI__factory.ts
libs/redcross-swap-contract/typechain/factories/IERC1155Receiver__factory.ts
libs/redcross-swap-contract/typechain/factories/SolidatiryItems__factory.ts
