{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage",
        "loose": true,
        "shippedProposals": true
      }
    ]
  ],
  "plugins": [
    ["styled-components", { "pure": true, "ssr": false }],
    "babel-plugin-macros"
  ]
}
